@charset "utf-8";
/* CSS Document */
body{
	background-color: #D5D5D5;
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1280px;
	height: auto;
	background-color: #FFFFFF;
	margin: 0 auto 10px auto;
}
header{
	width: 1280px;
	height: 60px;
	margin: 0px;
	background-color: #47B19C;
}
header a{
	font-size: 30px;
	color: white;
	text-decoration: none;
	padding-left: 10px;
}
nav{
	width: 1280px;
	height: 35px;
	background-color: aquamarine;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
  	display: block;
  	color: #000;
  	padding: 8px 16px;
  	text-decoration: none;
}

li a:hover {
    background-color: #965758;
    color: white;
}
li{
	float: left;
}


footer{
	width: 1280px;
	height: 140px;
	position: absolute;
	top: 1295px;
	margin-bottom: 10px;
}
.footer1{
	width: 320px;
	height: 140px;
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	margin-right: 10px;
}
.footer2{
	width: 320px;
	height: 140px;
	position: absolute;
	left: 339px;

}
.footer3{
	width: 500px;
	height: 140px;
	float: right;
}
section{
	width: 1280px;
	height: auto;
}

.slideshow{
	max-width: 500px;
  	position: relative;
  	margin: auto;
}
.dot {
	  cursor:pointer;
	  height: 13px;
	  width: 13px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
}
.show{
	display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
 
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
