@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	padding: 0px;
	background-image: url(../Img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.container{
	width: 1280px;
	height: auto;
	margin: 0 auto 10px auto;
}
header{
	width: 1280px;
	height: 60px;
	margin: 0px;
	background-color: rgba(32,181,205,0.30);
	text-align: center;
}
header a{
	font-size: 30px;
	color: white;
	text-decoration: none;
}
nav{
	width: 1280px;
	height: 35px;
	background-color: rgba(104,220,218,0.20);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
  	display: block;
  	color: #000;
	font-weight: 800;
  	padding: 8px 16px;
  	text-decoration: none;
}

li a:hover {
    background-color: #5CEDD9;
    color: white;
}
li{
	float: left;
}



footer{
	width: 1280px;
	height: 140px;
	position: absolute;
	top: 1150px;
	margin: 10px 0;
	background-color: rgba(244,166,37,0.01);
}
.footer1{
	width: 340px;
	height: 110px;
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	margin-right: 10px;
}
.footer1 li{
	font-size: 16px;
}
.footer2{
	width: 320px;
	height: 130px;
	position: absolute;
	left: 379px;

}
.footer3{
	width: 500px;
	height: 130px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

.boxfooter{
	width: 1280px;
	height: auto;
}

span{
	color: blue;
	font-style: italic;
}
section h1, p, h3{
	padding-left: 10px;
	padding-bottom: 20px;
}
#source {
	font-size: 15px;
	font-style: italic;
	text-align: right;
	padding-right: 10px;
}
.sectionimg{
	width: 1280px;
	height: auto;
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	margin-top: 10px;
}