@charset "utf-8";
 /* CSS Document */
 
 
#ca1 #ca2 #ca3 #ca4 #ca5 #ca6 .owl-dots{ position:absolute; bottom: 10px; left:45%; 
   color:#9C0}
#ca1 #ca2 #ca3 #ca4 #ca5 #ca6  .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}
#ca1 .owl-nav { position:absolute; left:0px; top:40%; width:400px; }

#ca1 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca1 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca1 .owl-nav .owl-prev{ position:absolute; left:-5px}
#ca1 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }

#ca2 .owl-nav { position:relative; left:0px; top:40%; width:400px; }
#ca2 .owl-nav { position:absolute; left:0px; top:40%; width:400px; }

#ca2 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca2 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca2 .owl-nav .owl-prev{ position:absolute; left:-5px}
#ca2 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }
#ca3 .owl-nav { position:relative; left:0px; top:40%; width:400px; }
#ca3 .owl-nav { position:absolute; left:0px; top:40%; width:400px; }

#ca3 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca3 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca3 .owl-nav .owl-prev{ position:absolute; left:-5px}
#ca3 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }
#ca4 .owl-nav { position:relative; left:0px; top:40%; width:400px; }
#ca4 .owl-nav { position:absolute; left:0px; top:40%; width:400px; }

#ca4 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca4 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca4 .owl-nav .owl-prev{ position:absolute; left:-5px}
#ca4 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }
#ca5 .owl-nav { position:relative; left:0px; top:40%; width:400px; }
#ca5 .owl-nav { position:absolute; left:0px; top:40%; width:400px; }

#ca5 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca5 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca5 .owl-nav .owl-prev{ position:absolute; left:-5px}
#ca5 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }
#ca6 .owl-nav { position:relative; left:0px; top:40%; width:400px; }
#ca6 .owl-nav { position:absolute; left:0px; top:40%; width:400px; }

#ca6 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca6 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca6 .owl-nav .owl-prev{ position:absolute; left:-5px}
#ca6 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }
