@charset "utf-8";
 /* CSS Document */
 body{ margin:0}
 *{ box-sizing:border-box}
 section{ padding-top:50px}
 .container{ width:90%; margin:50px auto}
 .img-res{ width: 768px; height: 300px}
 
 
#ca1 .owl-dots{ position:absolute; bottom: 10px; left:45%; 
   color:#9C0}
#ca1 .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}
#ca1 .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#ca1 .owl-nav [class*='owl-'] {
	font-size:60px; background:rgba(255,255,255,.5);border:1px solid #fff;  
}

#ca1 .owl-nav .owl-next{ position:absolute; right:-5px;}
#ca1 .owl-nav .owl-prev{ position:absolute; left:-5px}
 #ca1 .owl-nav [class*='owl-']:hover {
      background: #869791;
      color:#F90;
      text-decoration: none; }
#ca2 .item{ position:relative; perspective:100}
#ca2 .item .detail{ position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(102,102,102,.5); color:#fff; text-align:center; padding-top:50px; transform-style:preserve-3d; transform:rotateY(-180deg); opacity:0; transition:all 1s}
#ca2 .item .detail button{ background:#FC0; border:1px solid #F93; padding:5px 10px; border-radius:2px}
#ca2 .item:hover >.detail{transform:rotateX(0deg); opacity:1; }
